.dem{
  color: blue;
}

.rep{
  color: red;
}

.header{
  padding-top: 0.5em;
}
.content{
  max-width: 95%;
}

.pure-table th{
  font-size: small;
}

.pure-table td{
  font-size: small;
}

#legendDiv li{
  list-style: none;
}
